@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: peru;
    background-color: maroon;
    font-size: 1.5em;
}
h2{
    color: sienna;
    font-size: 1.2em;
}
p{
    text-align: justify;
}